<a href="https://colab.research.google.com/github/MaguireMaName/Coursera_Capstone/blob/master/Machine_Learning_w_Python_Applied_Data_Science_Capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Machine Learning with Python
*For the Applied Data Science Capstone Project*

In [0]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests as rq

In [2]:
#define url for scraping and print

url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
print(url)

https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

In [0]:
response = rq.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

#print(soup)

In [0]:
table = soup.find('table', {'class':'wikitable sortable'}).tbody
#print(table)

rows = table.find_all('tr')

columns = [v.text.replace('\n','') for v in rows[0].find_all('th')]

df_a = pd.DataFrame(columns=columns)

for i in range(1, len(rows)):
    tds = rows[i].find_all('td')
    
    if len(tds) ==4:
      values = [tds[0].text, tds[1].text,'', tds[2].text, tds[3].text.replace('\n','').replace('\xa0','')]
    else:
      values = [td.text.replace('\n','').replace('\xa0','') for td in tds]
    
    df_a = df_a.append(pd.Series(values, index=columns), ignore_index=True)

In [0]:
# don't process obs. where Borough = 'Not assigned'

df_b = df_a.drop(df_a[df_a.Borough == "Not assigned"].index)

In [6]:
# dimensions before aggregation

df_b.shape

(211, 3)

In [0]:
#aggregate data

df_b = df_b.groupby(['Postcode','Borough']).agg(lambda x: x.tolist()).reset_index()

In [8]:
#check results

df_b.head()

  Postcode      Borough                             Neighbourhood
0      M1B  Scarborough                          [Rouge, Malvern]
1      M1C  Scarborough  [Highland Creek, Rouge Hill, Port Union]
2      M1E  Scarborough       [Guildwood, Morningside, West Hill]
3      M1G  Scarborough                                  [Woburn]
4      M1H  Scarborough                               [Cedarbrae]

In [12]:
x = df1 = df_a[(df_a['Neighbourhood'] == "Not assigned")]
x

    Postcode       Borough Neighbourhood
0        M1A  Not assigned  Not assigned
1        M2A  Not assigned  Not assigned
8        M7A  Queen's Park  Not assigned
9        M8A  Not assigned  Not assigned
13       M2B  Not assigned  Not assigned
20       M7B  Not assigned  Not assigned
21       M8B  Not assigned  Not assigned
30       M2C  Not assigned  Not assigned
36       M7C  Not assigned  Not assigned
37       M8C  Not assigned  Not assigned
45       M2E  Not assigned  Not assigned
46       M3E  Not assigned  Not assigned
50       M7E  Not assigned  Not assigned
51       M8E  Not assigned  Not assigned
52       M9E  Not assigned  Not assigned
54       M2G  Not assigned  Not assigned
55       M3G  Not assigned  Not assigned
59       M7G  Not assigned  Not assigned
60       M8G  Not assigned  Not assigned
61       M9G  Not assigned  Not assigned
73       M7H  Not assigned  Not assigned
74       M8H  Not assigned  Not assigned
75       M9H  Not assigned  Not assigned
88       M7J  Not assigned  Not assigned
89       M8J  Not assigned  Not assigned
90       M9J  Not assigned  Not assigned
104      M7K  Not assigned  Not assigned
105      M8K  Not assigned  Not assigned
106      M9K  Not assigned  Not assigned
120      M7L  Not assigned  Not assigned
..       ...           ...           ...
202      M7T  Not assigned  Not assigned
203      M8T  Not assigned  Not assigned
204      M9T  Not assigned  Not assigned
209      M2V  Not assigned  Not assigned
210      M3V  Not assigned  Not assigned
223      M6V  Not assigned  Not assigned
224      M7V  Not assigned  Not assigned
237      M2W  Not assigned  Not assigned
238      M3W  Not assigned  Not assigned
241      M6W  Not assigned  Not assigned
242      M7W  Not assigned  Not assigned
247      M2X  Not assigned  Not assigned
248      M3X  Not assigned  Not assigned
253      M6X  Not assigned  Not assigned
254      M7X  Not assigned  Not assigned
258      M9X  Not assigned  Not assigned
259      M1Y  Not assigned  Not assigned
260      M2Y  Not assigned  Not assigned
261      M3Y  Not assigned  Not assigned
263      M5Y  Not assigned  Not assigned
264      M6Y  Not assigned  Not assigned
274      M9Y  Not assigned  Not assigned
275      M1Z  Not assigned  Not assigned
276      M2Z  Not assigned  Not assigned
277      M3Z  Not assigned  Not assigned
278      M4Z  Not assigned  Not assigned
279      M5Z  Not assigned  Not assigned
280      M6Z  Not assigned  Not assigned
281      M7Z  Not assigned  Not assigned
287      M9Z  Not assigned  Not assigned

[78 rows x 3 columns]

In [10]:
# dimensions after aggregation
df_b.shape

(103, 3)