<a href="https://colab.research.google.com/github/MaguireMaName/Coursera_Capstone/blob/master/Machine_Learning_w_Python_Applied_Data_Science_Capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Machine Learning with Python
*For the Applied Data Science Capstone Project*

In [0]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests as rq

In [33]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
print(url)

https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

In [0]:
response = rq.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

#print(soup)

In [0]:
table = soup.find('table', {'class':'wikitable sortable'}).tbody
#print(table)

rows = table.find_all('tr')

columns = [v.text.replace('\n','') for v in rows[0].find_all('th')]

df = pd.DataFrame(columns=columns)

for i in range(1, len(rows)):
    tds = rows[i].find_all('td')
    
    if len(tds) ==4:
      values = [tds[0].text, tds[1].text,'', tds[2].text, tds[3].text.replace('\n','').replace('\xa0','')]
    else:
      values = [td.text.replace('\n','').replace('\xa0','') for td in tds]
    
    df = df.append(pd.Series(values, index=columns), ignore_index=True)

In [0]:
#drop rows where Borough = 'Not assigned'
df = df.drop(df[df.Borough == "Not assigned"].index)

In [37]:
df.shape

(211, 3)

In [38]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [0]:
df = df.groupby('Postcode').agg(lambda x: x.tolist()).reset_index()

In [40]:
df.head()

,Postcode,Borough,Neighbourhood
0,M1B,"[Scarborough, Scarborough]","[Rouge, Malvern]"
1,M1C,"[Scarborough, Scarborough, Scarborough]","[Highland Creek, Rouge Hill, Port Union]"
2,M1E,"[Scarborough, Scarborough, Scarborough]","[Guildwood, Morningside, West Hill]"
3,M1G,[Scarborough],[Woburn]
4,M1H,[Scarborough],[Cedarbrae]

In [41]:
df.shape

(103, 3)